body {
  margin: 0;
  padding: 0;
font-family: "Nunito", sans-serif;
  line-height: 1.75;
  font-size: 40px;
  background: #0d0f17;  
  color: #a26de7;
}
p{
    font-size: 30px;
}
/* Container central para TODO o site */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Links globais */
a {
  color: #5d7cec;
  text-decoration: none;
}

a:hover {
  color: #6489f8;
}

/* vídeo fixo atrás do site */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* deixa atrás de tudo */
  filter: brightness(0.35); /* escurece para facilitar leitura */
}

/* conteúdo fica por cima */
.content {
  position: relative;
  z-index: 10;
}

